.c-category {
   

    .card {
        // height: 320px;
        .card-img-top{
            padding: 25px;
        }
        .card-title {
            color: $dark;
            font-weight: 500;
            text-transform: capitalize;
        }

        .card-text {
            font-size: 16px;
            font-weight: 400;
        }
    }

    .card:hover {
        .card-title {
            color: $primary;
        }

        .card-text {
            transform: scale(1) translateY(-5px);
            transition: all 0.3s ease-out;
        }

    }

}