.c-products {
    overflow: hidden;
    .card {
        .card-badge {
            height: max-content;
            margin-left: -10px;
        }

        .card-favorite:hover {
            color: $danger;
        }

        .card-item a {
            padding: 2px;
            background-color: $white;
        }

        .card-item--show {
            opacity: 0;
        }

        .card-title {
            font-size: 13px;
            font-weight: 700;
        }

        .card-title:hover {
            text-decoration: underline;
        }
    }

    .card:hover {
        .card-item--show {
            opacity: 1;
            animation-duration: 1s;
            animation-name: card-item;
            animation-iteration-count: 1;
        }

        @keyframes card-item {
            from {
                translate: 25px 0;
            }

            to {
                translate: 0px;
            }
        }

        .c-countdown {
            &__item {
                background-color: $danger;
                color: $white;
            }
        }

    }

    @keyframes card-item {
        from {
            translate: 25px 0;
        }

        to {
            translate: 0px;
        }
    }

    @media (min-width: $width-desktop) {
        .c-products {
            .card {
                .card-badge {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}