.c-product-cat {

    .form-check-input,
    .form-check-label{
        font-size: 14px;
        font-weight: 400;
    }

   .accordion{
    .accordion-button::after{
        background-image: url("/public/img/add_FILL0_wght400_GRAD0_opsz24.svg");
        background-size: 18px;
    }
    
    .accordion-button:active::before{
        background-image: url("/public/img/remove_FILL0_wght400_GRAD0_opsz24.svg");
    }
   }
}