.c-sales {
    .card {
        .card-badge {
            height: max-content;
        }

        .card-favorite:hover {
            color: $danger;
        }

        .card-item a {
            padding: 2px;
        }

        .card-item--show {
            transition: opacity 0.3s;
            opacity: 0;
        }

        .card-title {
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 700;
        }

        .card-title:hover {
            text-decoration: underline;
        }

        .card-weight {
            width: max-content;
        }

    }

    .card:hover {

        .card-item--show {
            opacity: 1;
            animation-duration: 1s;
            animation-name: card-item;
            animation-iteration-count: 1;
        }

        @keyframes card-item {
            from {
                translate: 25px 0;
            }

            to {
                translate: 0px ;
            }
        }

        .c-countdown {
            &__item {
                background-color: $danger;
                color: $white;
            }
        }

    }
}