.banner-shop {
    // height: 15.5rem;
    .card{
        background-image: url("/public/img/grocery-banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        height: 100%;  
        padding: 2.75rem 1.875rem;
    }
  
}