.categories {
    height: 170px;
    margin-bottom: 4.06rem;

    .splide {
        height: 100%;

        &__pagination {
            bottom: -2.5rem;
        }

        &__arrow {
            display: none;
        }
    }
}

@media (min-width: $width-tablet) {
    .categories {
        height: 11.56rem;

        .splide {
            &__arrow {
                display: block;
            }
        }
    }
}

@media (min-width: $width-desktop) {
    .categories {
        height: 18.75rem;
    }
}