.categories {
    margin-bottom: 4.06rem;

    .splide {
        height: 100%;

        &__pagination {
            bottom: -2.5rem;
        }

        &__arrow {
            display: none;
        }
    }
}

@media (min-width: $width-tablet) {
    .categories {

        .splide {
            &__arrow {
                display: block;
            }

            &__arrow--next {
                z-index: 1;
                right: -1.25rem;
                background-color: $white;
                border: 1px solid $gray-500;
                width: 40px;
                height: 40px;
                font-size: 12px;
            }
            &__arrow--prev {
                z-index: 1;
                left: -1.25rem;
                background-color: $white;
                border: 1px solid $gray-500;
                width: 40px;
                height: 40px;
                font-size: 12px;
            }
        }
    }
}

@media (min-width: $width-desktop) {
    .categories {
    }
}