.type-products {
    &__img {
        .thumbnails {
            display: flex;
            margin: 1rem auto 0;
            padding: 0;
            justify-content: center;
        }


        .thumbnail {
            width: 70px;
            height: 70px;
            overflow: hidden;
            list-style: none;
            margin: 0 0.2rem;
            cursor: pointer;
        }


        .thumbnail img {
            width: 100%;
            height: auto;
        }

        .splide {

            &__slide {
                display: flex;
                justify-content: center;
            }
        }
    }

    &__body {

        .checklist {
            color: $dark;

            &__items {
                display: flex;
                align-items: center;
            }
            &__check{
                font-size: 20p;
            }
        }
    }

}